.footer {
    background-color: #3E3E3E; /* Dark background */
    color: #fff; /* Light text */
    padding: 60px 0; /* Remove side padding by setting padding to 0 for left and right */
    margin-top: 100px;
  }
  
  .footer-content {
    display: grid; /* Use grid for alignment */
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 50px; /* Space between sections */
    max-width: 1340px; /* Center content */
    margin: 0 auto; /* Horizontally center the content */
    text-align: left; /* Align text to the left */
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .footer-section h3 {
    color: #BD5FC4; /* Purple header color */
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .footer-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    margin-top: 0;
    max-width: 350px;
  }
  
  .footer-section-contact {
    margin-left: 170px;
  }
  
  .footer-section-contact h3 {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .footer-section-contact p {
    margin-top: 15px;
    font-size: 1rem;
    line-height: 1.6;
    color: white;
  }
  
  .footer-section.review {
    margin-left: 200px;
  }
  
  .footer-section.review h3 {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .footer-section.review p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
  }
  
  .review-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #5C5C5C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .review-button:hover {
    background-color: #707070;
  }
  
  .footer-bottom {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9rem;
    color: #bbb;
  }
  
  .footer-bottom hr {
    border: 0;
    border-top: 1px solid white;
    margin: 0 auto;
    max-width: 1360px;
    margin-left: 175px;
  }
  
  .footer-bottom p {
    margin-left: 1080px;
    color: white;
  }
  