.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eef2f7;
  }
  
  .password-box {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .password-box h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .password-box p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 20px;
  }
  
  .password-box label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    color: #666666;
    text-align: left;
  }
  
  .password-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .password-input {
    position: relative;
  }
  
  .password-input .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .password-box button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .password-box button:hover {
    background: #0056b3;
  }

  .password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-input-container input {
    width: 100%;
    padding: px;
    font-size: 16px;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    top: 20%;
  }
   .password-toggle-icon:hover {
    color: rgb(68, 65, 65); /* Change the color on hover */
  }
  
  